page {
	display: grid;
	justify-content: center;
}

body {
	text-align: center;
	/* background-color: rgba(42, 189, 181, 0.993); */
	background-image: linear-gradient(
		to bottom right,
		rgba(0, 255, 128, 0.534),
		rgba(255, 255, 0, 0.418)
	);
}

header {
	grid-column: 1/3;
	font-size: 4em;
	margin-bottom: 20px;
}
canvas {
	background-color: white;
}

.container {
	display: grid;
	grid-template-columns: 20% auto;
	grid-template-rows: 10% 80% auto;
}

.button-container {
	/* padding: 5px; */
	grid-column: 1;
	justify-content: baseline;
	background-color: rgb(138, 79, 192);
	border: 1px solid rgb(138, 79, 192);
	border-radius: 10px;
	margin: 10px;
}

.file-container {
	grid-column: 1/3;
	grid-row: 3;
	margin-top: 10px;
}

.eraser-btns {
	justify-self: end; /*grid end column ??? */
}

button,
input {
	/* padding: 10px; */
	border-radius: 5px;
	width: 70px;
	height: 40px;
	display: inline-flexbox;
	margin: 5px;
}

button:hover {
	background-color: rgb(94, 236, 58);
}
